.about.section {
  @media (prefers-color-scheme: light) {
    @include h2-section-line(12%, $primary-text);
  }
  @media (prefers-color-scheme: dark) {
    @include h2-section-line(12%, $primary-text-dark);
  }
  .about.container {
    .content {
      padding: 3% 0;
      @include display-flex(space-between);
      max-width: 63%;
    }
    p {
      max-width: 50%;
    }
    img {
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 780px) {
    @include h2-section-line(0, transparent);
    .about.container {
      .content {
        max-width: 90%;
        p {
          max-width: 100%;
          font-size: 1.6rem;
        }
        img {
          display: none;
        }
      }
    }
    .about-skills-container {
      display: none;
    }
  }
}
