html,
body {
  height: 100vh;
  overflow: hidden;
  @include os-theme();
}
.App {
  display: flex;
  flex-direction: row-reverse;
  .main-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }
  .main-container .section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .about.container,
  .contact.container,
  #projects.container {
    padding-top: 7%;
  }
  .skills.section {
    display: none;
    @media screen and (max-width: 780px) {
      display: block;
    }
  }
  .showMobile {
    display: none;
  }
  @media screen and (max-width: 780px) {
    .showMobile {
      display: block;
      padding: 1% 0;
      text-decoration: underline;
    }
    .hideMobile {
      display: none;
    }
  }
}
