// muted and minimal - light
$white: #eeeeee;
$dusty: #96858f;
$lavender: #6d7993;
$accent-lavender: #5f7096;
$overcast: #9099a2;
$dark-overcast: #5f6469;
$paper: #e9e9e9;

// react palette
$bright-blue: #61dafb;
$dark-grey: #20232a;
$medium-grey: #282c34;
$light-grey: #33373f;

// light-theme
$primary-background: $paper;
$primary-text: $dark-overcast;
$accent-color: $accent-lavender;
$nav-background: $lavender;
$nav-accent: $overcast;
$second-accent: $dusty;

// dark-theme
$primary-background-dark: $medium-grey;
$primary-text-dark: $white;
$accent-color-dark: $bright-blue;
$nav-background-dark: $dark-grey;
$nav-accent-dark: $light-grey;
$second-accent-dark: $bright-blue;

// mixins
@mixin display-flex($j: center, $a: center) {
  display: flex;
  justify-content: $j;
  align-content: $a;
}

@mixin responsive-container($mwidth: 500px, $width: 100%, $height: inherit) {
  height: $height;
  width: $width;
  max-width: $mwidth;
}

@mixin section-line($m: 1%, $c: $dark-grey) {
  content: "";
  display: block;
  height: 1px;
  width: 300px;
  background: $c;
  position: relative;
  top: -16px;
  margin-left: $m;
}

@mixin h2-section-line($margin: 1%, $c: $dark-grey) {
  h2 {
    &:after {
      @include section-line($margin, $c);
    }
  }
}

@mixin os-theme($b: $primary-background, $c: $primary-text) {
  @media (prefers-color-scheme: light) {
    background: $b;
    color: $c;
    button {
      background-color: $accent-color;
      color: $primary-background;
      &:hover {
        background-color: $primary-background;
        color: $accent-color;
      }
    }
    .nav-button {
      &:hover {
        color: $accent-color;
      }
      &:focus,
      &:active {
        outline: 1px $primary-background solid;
        background-color: $primary-background;
        color: $accent-color;
      }
    }
    svg {
      color: $second-accent;
      &:hover {
        color: $accent-color;
      }
    }
    a {
      color: $accent-color;
      color: $second-accent;
    }
    nav {
      background-color: $nav-background;
    }
    .accented {
      color: $accent-color;
    }
    .project.section {
      .project.container.index-0 {
        h2#projects.container {
          color: $primary-background;
        }
      }
      .project {
        background-color: $nav-background;
        a,
        h4,
        svg {
          color: $primary-background;
          &:hover,
          &:focus,
          &:active {
            color: $second-accent;
          }
        }
        .description {
          background-color: $second-accent;
          color: $primary-background;
        }
        @media screen and (max-width: 780px) {
          background: transparent;
          color: $primary-text;
          a,
          h4,
          svg {
            color: $primary-text;
            text-decoration: underline;
            &:focus,
            &:active {
              color: $accent-color;
            }
          }
          .project.container.index-0 {
            h2#projects.container {
              margin: 0;
              padding: 0;
              color: $primary-text;
              display: block;
              font-size: 2rem;
              &:after {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
    .contact.container {
      form {
        button:hover {
          color: $second-accent;
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    nav {
      background-color: $nav-background-dark;
    }
    .project.section {
      .project {
        background-color: $nav-background-dark;
        a,
        h4,
        svg {
          color: $primary-text-dark;
          &:hover,
          &:focus,
          &:active {
            color: $second-accent-dark;
          }
        }
        .description {
          background-color: $nav-accent-dark;
        }
      }
    }
    svg {
      color: $second-accent-dark;
      &:hover {
        color: $primary-text-dark;
      }
    }
    background: $primary-background-dark;
    color: $primary-text-dark;
    button {
      background-color: $accent-color-dark;
      color: $primary-background-dark;
      &:hover {
        background-color: $primary-background-dark;
        color: $accent-color-dark;
      }
    }
    .nav-button {
      color: $accent-color-dark;
      &:hover {
        color: $accent-color-dark;
      }
      &:focus,
      &:active {
        outline: 1px $overcast solid;
        background-color: $nav-accent-dark;
        color: $primary-text-dark;
      }
    }
    a {
      color: $accent-color-dark;
      &:hover {
        color: $second-accent-dark;
      }
    }
    .accented {
      color: $second-accent-dark;
    }
  }
}
